# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.production

# Build outputs
dist/
.next/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/

# Fly.io
fly.toml
/generated/prisma
